.hero {
    max-width: 1600px;
    margin: 0 auto;

    color: var(--third-text-color);
    background-color: var(--bg-color);
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_HEROpro.jpg);
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    padding-bottom: 30px;
}

.hero-but {
    display: block;
    margin:  0 auto;
    color: var(--third-text-color);
    background-color: var(--second-text-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;

    padding: 8px 30px;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.deal {
    padding-top: 94px;
}

.deal-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.deal-container-list {
    display: flex;
    padding-left: 0;
}

.container-item {
    position: static;
    margin-right: 30px;
}

.deal-pic {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--bg-colorlight);
}

.container-item:last-child {
    margin-right: 0px;
}

.rools {
    padding-top: 94px;
    padding-bottom: 94px;
}

.rools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic {
    height: 294px;
}

.deal-titles {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    width: 270px;
    height: 16px;
}

.deal-article {
    color: var(--main-text-colorlight);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 10px;

    width: 270px;
    height: 75px;
}

.deal-icon {
    fill: var(--main-color-icon);
}

.team {
    background-color: var(--bg-colorlight);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-container {

    display: flex;
    flex-direction: column;
    align-items: center;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    padding-bottom: 50px;
}

.deal-container-list-pic {
    position: relative;
    display: flex;
    padding-left: 0;
}

.plashka {
    display: block;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.plashka-txt {
    position: absolute;
    top: 27px;
    color: var(--bg-colorlight);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.plashka-txt:nth-child(1) {
    left: 83px;
}

.plashka-txt:nth-child(2) {
    left: 86px;
}

.plashka-txt:nth-child(3) {
    left: 95px;
}

.team-container-list {

    display: flex;
    align-items: center;
    padding-left: 0;
}

.teamit {
    height: 428px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.img-teamit {
    display: block;
}

.bot-teamit {
    background-color: var(--third-text-color);
    padding-top: 30px;
    padding-bottom: 30px;

}

.team-titles {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    padding-bottom: 10px;
    text-align: center;
}

.team-position {
    color: var(--main-text-colorlight);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    padding-bottom: 16px;
}

.team-social-list {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
}

.team-social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover {
    background-color: var(--second-text-color);
}

.team-social-link:focus {
    background-color: var(--second-text-color);
}

.team-social-link:hover>.social-icon {
    fill: var(--third-text-color);
}

.team-social-link:focus>.social-icon {
    fill: var(--third-text-color);
}

.social-icon {
    fill: var(--main-color-icon);
}

.clients {
    padding-top: 94px;
}

.clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    padding-bottom: 50px;
}

.clients-list {
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-bottom: 94px;
}

.clients-icon {
    fill: var(--main-color-icon);
}

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 4px;
    border: 1px solid var(--main-color-icon);

    background-color: var(--third-text-color);

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
    border-color: var(--second-text-color);
}

.clients-link:focus {
    border-color: var(--second-text-color);
}

.clients-link:hover>.clients-icon {
    fill: var(--second-text-color);
}

.clients-link:focus>.clients-icon {
    fill: var(--second-text-color);
}

.clients-icon {
    fill: var(--main-color-icon);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}