.deal {
    padding-top: 94px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__container-list {
        display: flex;
        padding-left: 0;
    }

    &__pic {
        display: flex;
        width: 270px;
        height: 120px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 30px;
        background-color: var(--bg-colorlight);
    }

    &__titles {
        color: var(--main-text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        width: 270px;
        height: 16px;
    }

    &__article {
        color: var(--main-text-colorlight);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        padding-top: 10px;

        width: 270px;
        height: 75px;
    }

    &__icon {
        fill: var(--main-color-icon);
    }

}

.container-item {
    position: static;
    margin-right: 30px;
}

.container-item:last-child {
    margin-right: 0px;
}