.top {
    vertical-align: 50%;
}

.top-container {
    display: flex;
    align-items: center;
}

.top-logo {
    font-family: "Raleway", sans-serif;
    color: var(--second-text-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;

    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

}

a.top-logo>span {
    color: var(--main-text-color);
}

.top-menu a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.top-menu a:hover {
    color: var(--second-text-color);
}

.top-menu a:focus {
    color: var(--second-text-color);
}

.top-list {
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.top-list-item {
    margin-right: 50px;
}

.top-list-item:last-child {
    margin: 0;
}

.link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--main-text-color);

}

.current {
    color: var(--second-text-color);
}

.current:hover::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--second-text-color);
}

.top-adr-social {
    padding-right: 0;
}

.top-adr-social .top-adr {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 32px;
    padding-bottom: 32px;
}

.top-adr-social .top-adr-item:not(:last-child) {
    margin-right: 30px;
}

.top-adr-social .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-colorlight);
    font-weight: 500;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.top-adr-social .link:hover,
.top-adr-social .link:focus {
    color: var(--second-text-color);
}

.top-adr-social .socials-icons-top {
    margin-right: 10px;
    fill: currentColor;
}